echo fastapi==0.111.0 > requirements.txt
echo uvicorn[standard]==0.29.0 >> requirements.txt
echo sqlalchemy==2.0.30 >> requirements.txt
echo psycopg2-binary==2.9.9 >> requirements.txt
echo alembic==1.13.1 >> requirements.txt
echo pydantic==2.7.1 >> requirements.txt
echo pydantic-settings==2.2.1 >> requirements.txt
echo python-dotenv==1.0.1 >> requirements.txt
echo email-validator==2.1.1 >> requirements.txt